
<template name="record"> 

<input type="text" class="mensagem"/>
		<button class="btn btn-default botaoEnviar">Enviar texto para reconhecimento</button>

		<div id= "microphone"></div>
			
			<button type="button" id= "microphonestart" class="btn btn-default"> Start</button>
			<button type="button" id= "microphonestop" class="btn btn-default">Stop</button>
			<h2 class="started"> Started recording... Mouse up to stop! </h2>
			
			<input type="text" class="retorno" value="" disabled/>

</template>
